name: EC2 Start/Stop

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'start or stop'
        required: true
        default: 'stop'
      tag_key:
        description: 'Tag key'
        required: true
      tag_value:
        description: 'Tag value'
        required: true

jobs:
  ec2_control:
    runs-on: ubuntu-latest

    steps:
    - uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-southeast-2

    - name: Start/Stop EC2 by Tag
      run: |
        INSTANCE_IDS=$(aws ec2 describe-instances \
          --filters "Name=tag:${{ github.event.inputs.tag_key }},Values=${{ github.event.inputs.tag_value }}" \
          --query "Reservations[*].Instances[*].InstanceId" \
          --output text)

        [ -z "$INSTANCE_IDS" ] && { echo "No instances found"; exit 1; }

        if [ "${{ github.event.inputs.action }}" = "start" ]; then
          aws ec2 start-instances --instance-ids $INSTANCE_IDS
        elif [ "${{ github.event.inputs.action }}" = "stop" ]; then
          aws ec2 stop-instances --instance-ids $INSTANCE_IDS
        else
          echo "Invalid action"; exit 1
        fi
